<!DOCTYPE html>
<html>
  <head>
    <title>AI Financial Advisor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 min-h-screen flex flex-col">
    <% if current_user %>
      <%= render "shared/header" %>
    <% end %>

    <main class="flex-grow">
      <%= yield %>
    </main>
  </body>
</html>
